{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/lk_style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,800" rel="stylesheet">
    <title>Личный кабинет</title>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/LogoRSUE.png' %}" alt="LogoRSUE"></a>
                </div>
            </div>
            <div class="col-lg-7 FIO">
                {{ user.username }}
            </div>
            <div class="col-lg-1 ml-auto logout">
                <a href="{% url 'logout' %}"><img src="{% static '/img/logout.png' %}" alt="LogOut"></a>
            </div>
        </div>
    </div>
</header>

<section class="user__onOlimp">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="participants-list">
                    <h5 class="participants-list__title">Список участников</h5>
                    <div class="participants-list__header">ФИО  &ndash;   Учебное заведение</div> <hr>
                    <div class="participants-list__header"></div>
                    {% for participant in page_obj %}
                        <div class="participants-list__item">{{ participant.full_name }} &ndash; {{ participant.educational_institution }}</div>
                    {% endfor %}
                    <div class="participants-list__pagintion">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                {% if page_obj.has_previous %}
                                    <a class="page-link" href="?page=1">&laquo; Начало</a>
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                                {% endif %}
                            </li>
                            <li class="page-item">
                                <div class="current no__account">
                                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                                </div>
                            </li>
                            <li class="page-item">
                                {% if page_obj.has_next %}
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
                            {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>