{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/logreg.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,800" rel="stylesheet">
    <title>Регистрация</title>
</head>
<body>
<header class="header">
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'img/LogoRSUE.png' %}" alt="LogoRSUE"></a>
            </div>
        </div>
        <div class="col-lg-6 Title">
            Регистрация участия
        </div>
    </div>
</div>
</header>
<footer class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                    <div class="col-lg-4 mt-5">
                        <button type="submit" class="button__register__item"> Участвовать </button>
                    </div>
            </form>
        </div>
    </div>
</footer>
</body>
</html>